* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.square {
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.winner {
  background-color: green;
}
